{% load static %}
<html>
    <head>
        <title>Learn-online-store</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">learn-online-store</a></h1>
            {% if user.is_authenticated %}
     			<div class="username">
     				<li>Вы зашли как: {{ user.get_username }}</li>
     			</div>
     			<li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>   
   			{% else %}
     			<li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>   
   			{% endif %} 
        </div>

        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>